body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

.container {
  margin-top: 100px;
}

.options {
  margin-bottom: 20px;
}

.options button {
  border: none;
  background: none;
  cursor: pointer;
}

.options button img {
  width: 100px;
}

.result {
  font-size: 20px;
}
